@font-face {
    font-family: helvetica;
    src: url(./fonts/Helvetica.ttf);
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    font-family: helvetica;
}

#nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
    gap: 20px;
    border-bottom: 1px solid rgb(56, 56, 56);
    background-color: black;
    color: whitesmoke;
}

#logo{
    margin-left: 20px;
    margin-right: auto;
    font-weight: 900;
    font-size: 2rem;
}

#store-name{
    font-weight: 600;
    letter-spacing: 2px;
}

#profile{
    border-radius: 50%;
    border: 5px solid white;
    height: 50px;
    width: 50px;
}
#profile img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    border: none;
}

#search-section{
    padding: 20px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

#search-section .search-bar input{
    outline: none;
    border: 1px solid rgba(78, 78, 78, 0.14);
    padding: 10px 20px;
    border-radius: 10px;
}

#search-section .search-bar i{
    border-radius: 4px;
    padding: 5px 5px;
    background-color: royalblue;
    color: white;
}

.add-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:auto ;
}

.add-products button{
    padding: 10px 20px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
}
.sort-by select{
    padding: 10px 100px;
    color: white;
    background-color: royalblue;
    border: none;
    border-radius: 10px;
}

/* product-form */
#medicine-form {
    border-radius: 10px;
    padding: 40px 4px;
    background-color: royalblue;
    color: white;
    font-weight: 700;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    
}

#medicine-form .form-group{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#medicine-form input{
    border-radius: 4px;
    padding: 8px 5px;
    border: none;
    outline: none;
    width: 100%;

}

.form-group button{
    color: white;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 10px;
    padding: 15px 10px;
    background-color: black;
    font-size: 1.4rem;
    font-weight: 800;
}

.submit-btn{
    grid-column: span 3;
}

#medicine-form select{
    border-radius: 4px;
    padding: 8px 10px;
    border: none;
    outline: none;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}



/* products */
#products-section{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap:20px;
    padding:30px;
}
.product{
    background:white;
    border-radius:12px;
    padding:15px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    display:flex;
    align-items:center;
    text-align:center;
    transition:0.25s;
    gap: 20px;
}

.product:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

 img{
    width:71px;
    height:60px;
    object-fit:cover;
    margin-bottom:10px;
    border-radius: 50%;
}

.image{
    width: 71px;
}
 .name{
    font-weight:700;
    font-size:18px;
    width: 200px;
}

 .brand{
    font-size:18px;
    width: 200px;
}

.price{
    width: 200px;
    margin-top:8px;
}
    
.cost-price{
    width: 200px;
    margin-right:5px;
}

.category{
    width: 200px;
}

.selling-price{
    width: 200px;
}

.in-stock{
    width: 200px;
    font-size:18px;
}

.labels-card{
    background:white;
    border-radius:12px;
    padding:15px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    display:flex;
    align-items:center;
    text-align:center;
    transition:0.25s;
    gap: 20px;
}