@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

main{
    height: 100%;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    height: 6%;
    background-color: rgb(55, 55, 55);
}


nav .links{
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.links p {
    cursor: pointer;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}


section{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card{
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(56, 56, 56);
}


.product-card .img{
    height: 250px;
    width: 100%;
    border-radius: 20px;
}

.img > img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btns button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: darkred;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;

}

.btns button:nth-child(2){
    background-color: darkgreen;
}


.cart-screen{
    top: 6%;
    right: 0;
    border-radius: 10px;
    position: absolute;
   padding: 40px;
    min-height: 95%;
    width: 50%;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    columns: black;
    
    transform: translateX(100%);
    opacity: 0;

    transition: transform 0.4s ease, opacity 0.4s ease;
    
}

.cart-screen.active{
    transform: translateX(0);
    opacity: 1;
}

.cart-screen #items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    columns: white;
}

.cart-screen .bill{
    background-color: rgb(54, 54, 54);
    width: 100%;
    color: white;
    padding: 20px 20px;
}