@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
}

main{
    height: 100%;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    height: 6%;
    background-color: rgb(55, 55, 55);
}


nav .links{
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.links p {
    cursor: pointer;
}

.icon{
    display: flex;
    gap: 30px;
    font-size: 20px;
}

section{
    padding: 40px;
    display: flex;
}

.product-card{
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(56, 56, 56);
}


.product-card .img{
    height: 250px;
    border-radius: 20px;
}

.img > img{
    height: 100%;
    border-radius: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btns{
    display: flex;
    justify-content: space-between;
}

.btns button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: darkred;
    color: white;
    border: none;
    outline: none;
}

.btns button:nth-child(2){
    background-color: darkgreen;
}




